.infoHeader {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
}
.gm-style .infoImage {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
    display: block;
    margin: auto;
}
.infoLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}
.infoLinks,
.noArticlesButton {
    background-color: cadetblue;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.infoLinks:nth-child(2) { margin: 8px; }
.infoLinks:hover {  cursor: pointer;}

@media screen and (max-width: 450px) and (orientation: portrait) {
    .infoHeader { font-size: 1.5rem; }
    .gm-style .infoImage { height: 90%; width: 90%;  }
    .infoLinksContainer {   }
    .infoLinks, .noArticlesButton {
        height: 50%;
        width: 50%;
        font-size: 1.5rem;
    }    
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .infoHeader { font-size: 2rem;   }
    .gm-style .infoImage { height: 50%; width: 60%; }
    .infoLinksContainer { 
        /* flex-direction: column; */
        height: 80%;
        width: 60%;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 0.5em;
    }
    .infoLinks, .noArticlesButton {
        height: 80%; width: 35%; font-size: 2em;  }
}
