@font-face {
    font-family: gothamBook;
    src: url(../font/Gotham-Book.otf);
}

@font-face {
    font-family: gothamMedium;
    src: url(../font/Gotham-Medium.otf);
}

@font-face {
    font-family: gothamBold;
    src: url(../font/Gotham-Bold.otf);
}

body {
    height: 100vh;
    width: 100vw;
    font-family: gothamBook, Arial, Helvetica, sans-serif
}

#loading,
#errorModal {
    display: none;
    z-index: 3;
    background-repeat: no-repeat;
}

#loading {
    background-image: url("../images/loading.gif");
    background-position: center center;
}

.errorContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.errorGif {
    height: 85%;
}

.errorText {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    position: fixed;
    top: 82%;
}

/* Landing Page Elements */

.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImage {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.landingPageItems {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.logo {
    width: 100%;
    max-width: 800px;
}

.forms_container {
    height: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.preference_instructions {
    margin-top: 15px;
    text-align: center;
}

.preference_form {
    margin: 8% 0;
}

/* Small devices - PORTRAIT */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .preference_instructions,
    .preference_form,
    #submit_button {
        font-size: 2.2rem;
    }
    .preference_instructions {
        width: 85%;
    }
    .preference_form {
        width: 65%;
    }
}

/* small devices - LANDSCAPE */
@media only screen and (max-width: 768px) and (orientation: landscape) {
    .logo {width: 65%; height: 65%;}
    .preference_instructions,
    .preference_form {
        font-size: 1.5rem;
    }
    #submit_button {
        font-size: 1.2rem;
    }
    .preference_instructions {
        height: 65%;
        margin-top: 5px;
    }
    .preference_form {
        height: 60%;
        margin: 5% 0;
    }
}

/* medium devices - PORTRAIT */
@media only screen and (min-width: 769px) and (orientation: portrait) {
    .preference_instructions,
    .preference_form,
    #submit_button {
        font-size: 2.5rem;
    }
    .preference_form {
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .preference_form {
        width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .preference_instructions,
    .preference_form,
    #submit_button {
        font-size: 3rem;
    }
}

/* Map Elements, Including Tutorial/Home Buttons */

#map_container {
    position: absolute;
    /* top: 0; */
    height: 100%;
    width: 100%;
}

.buttonsContainer {
    position: absolute;
    top: 3vh;
    left: 3vh;
    z-index: 1;
}

.tutorialButton,
.goBackButton {
    box-shadow: 1px 1px 4px grey;
}

#tutorialCollapse {
    background-color: white;
    box-shadow: 1px 1px 4px grey;
    width: 275px;
    border-radius: 5px;
    margin: 4px 0 0 0;
}

.tutorialHeader {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: gothamBold;
    border-bottom: 1px #eee solid;
    padding: 16px;
}

.tutorialBody {
    padding: 16px;
}

/* General Carousel Elements */

#carouselModalContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#carouselModal,
#loading,
#errorModal {
    height: 80%;
    width: 80%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
}

#carousel-outer {
    height: 100%;
    /* background-color: transparent; */
}

.carousel-inner {
    height: 100%;
    text-align: center;
}

.item {
    height: 90%;
}

#carousel-outer>a.carousel-control {
    background-image: none;
    color: black;
}

.carousel-indicators {
    bottom: 1%;
}

.carousel-indicators li {
    border: 1px solid black;
}

.carousel-indicators .active {
    background-color: black;
}

.fa-times {
    color: gray;
}

/* Weather */

.weatherContainer {
    top: 4%;
}

.weatherFlexContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.date {
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #6e6362;
}

.weatherMiddle.jumbotron {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.currentTempAndCondition {
    text-align: left;
    margin-left: 8%;
    width: 45%;
}

.currentTemp {
    margin: 0 0 -8px 0;
    font-weight: bold;
}

.weatherBottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.weatherData:nth-child(6) {
    margin-bottom: 0;
}

.header {
    text-transform: uppercase;
    color: #58a4b0;
    font-family: gothamMedium;
}

.weatherData {
    margin-top: 5px;
    margin-bottom: 15px;
}

#modalClose {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 28px;
    border-style: none;
    background-color: transparent;
}

/* Small devices - PORTRAIT */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    .weatherMiddle.jumbotron { margin: 3% 0; padding: 4% 0; width: 75%; }
    .wi { font-size: 7rem; }
    .currentTemp { font-size: 4rem; }
    .condition, .header { font-size: 1.4rem; }
    .weatherData { font-size: 1.6rem;  }
    .leftContainer, .rightContainer {  height: 35%;     }
    .newsImageContainer { height: 60%;  }
    .captionContainer { height: 40%;  }
    .newsTitle { -webkit-line-clamp: 4;  }
    .carousel-indicators { bottom: 0; }
}

/* Small devices - LANDSCAPE */
@media only screen and (max-width: 768px) and (orientation: landscape) {
    .weatherMiddle.jumbotron { margin: 0; padding: 0; width: 65% }
    .wi {font-size: 3rem;}
    .currentTempAndCondition {font-size: 2rem;}
    .date { font-size: 2.2rem; }
    .header, .weatherData { font-size: 1.2rem; }
    .leftContainer, .rightContainer {  height: 35%;     }
    .newsImageContainer { height: 40%;  }
    .captionContainer { height: 25%;  }
    .newsTitle { -webkit-line-clamp: 3;  }
    .carousel-indicators { bottom: 0; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
    .weatherMiddle.jumbotron { padding: 3.5% 0; margin: 2.5% 0; width: 70%; }
    .condition, .header { font-size: 1.5rem; }
    .leftContainer, .rightContainer { width: 30%; }
    .newsImageContainer { height: 50%; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .weatherMiddle.jumbotron { padding: 4.5% 0; margin: 2.5% 0; }
    .currentTempAndCondition { margin-left: 6%; }
    .newsTitle { font-size: 2rem; }
    .newsImageContainer { height: 50%; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .date { font-size: 4rem;   }
    .weatherMiddle.jumbotron { padding: 5% 0; margin: 3% 0; }
    .wi {  font-size: 8rem;    } 
    .currentTempAndCondition { width: 50%; margin-left: 8%; }
    .currentTemp { font-size: 4rem; } 
    .condition { font-size: 2.2rem; } 
    .header { font-size: 2rem;  }
    .weatherData { font-size: 2.5rem; }
    .leftContainer, .rightContainer { width: 35%;    }
    .newsImageContainer { height: auto; }
}


/* News */
.newsFlexContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.newsImageContainer {
    height: 70%;
    width: 100%;
    background-color: lightgrey;
    border-radius: 12px 12px 0 0;
}

.newsImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.captionContainer {
    height: 30%;
    width: 85%;
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsTitle {
    text-transform: capitalize;
    color: #58a4b0;
    font-size: 2.5rem;
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.newsDate {
    margin: 5px 0;
    font-size: 1.5rem;
}

.newsSource {
    text-transform: uppercase;
    margin: 0;
    color: #6e6362;
    font-size: 1.5rem;
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
}

.noArticles {
    font-size: 30px;
    width: 80%;
    left: 10%;
    margin-bottom: 50px;
}

.noArticlesButton {
    margin: auto;
}

.noArticlesButton:hover {
    cursor: pointer;
}

.noArticles,
.noArticlesButton {
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
    position: relative;
    top: 20%;
}

/* @media only screen and (max-height: 1366px) {
    .newsImageContainer {
        height: 74%;
    }

    .newsTitle {
        font-size: 3rem;
    }

    .newsDate,
    .newsSource {
        font-size: 2.5rem;
    }
}

@media only screen and (max-height: 1024px) {
    .newsImageContainer {
        height: 68%;
    }
}

@media only screen and (max-height: 823px) {
    .newsImageContainer {
        height: 76%;
    }

    .newsTitle {
        font-size: 1.6rem;
    }

    .newsDate,
    .newsSource {
        font-size: 1.4rem;
    }
}

@media only screen and (max-height: 731px) {
    .newsImageContainer {
        height: 74%;
    }

    .newsTitle {
        font-size: 1.5rem;
    }

    .newsDate,
    .newsSource {
        font-size: 1rem;
    }
}

@media only screen and (max-height: 640px) {
    .newsImageContainer {
        height: 72%;
    }
}

@media only screen and (max-height: 568px) {
    .newsImageContainer {
        height: 60%;
    }
}

@media only screen and (max-height: 480px) {
    .newsTitle {
        font-size: 1.2rem;
    }

    .newsDate,
    .newsSource {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
    .carousel-indicators {
        bottom: 0;
    }

    .newsImageContainer {
        height: 75%;
    }

    .newsTitle {
        font-size: 1.5rem;
    }

    .newsDate {
        font-size: 1.2rem;
    }

    .newsSource {
        font-size: 1rem;
    }
} */

/* Images */

img.item {
    object-fit: cover;
    width: 100%;
    border-radius: 12px 12px 0 0;
}